#iconGroup #iconDescription {
  color: #6d6d6d;
  opacity: 0;
  margin-top: 12px;
  font-size: 1.2em;
}

#iconGroup #icon-wrapper {
  position: relative;
  margin: 0 auto;
  /*outline: 1px solid red;*/
  width: 180px;
  height: 180px;
}

#icon-div {
  position: absolute;
  width: 0px;
  height: 0px;
  margin: 0 auto;
  top: 150px;
  left: 0;
  right: 0;
  bottom: 0;
  border-width: 8px;
  border-style: solid;
  border-color: #c4c4c4;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transition: box-shadow 1s;
  transition: box-shadow 1s;
}

#icon-svg {
  width: 100%;
  height: 100%;
  background: white;
  opacity: 1;
}
#icon-svg #frame {
  overflow: hidden;
  stroke: #4e463d;
  stroke-dasharray: 3700px;
  stroke-dashoffset: 3700px;
}
#icon-svg #logo {
  opacity: 1;
  box-sizing: border-box;
  fill: none;
  stroke: #4e463d;
  stroke-width: 20;
  stroke-dasharray: 3700px;
  stroke-dashoffset: 3700px;
}

#my-intro {
  color: #545454;
  opacity: 0;
  margin-top: 50px;
}

#exploreButton {
  opacity: 0;
  z-index: 999;
  -webkit-animation: pulse 1.5s linear infinite;
  animation: pulse 1.5s linear infinite;
}

@-webkit-keyframes pulse {
  0 {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
keyframes pulse {
  0 {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

