.test {
  display: none;
}

body {
  background: #f6f6f6;
  font-family: "Open Sans", sans-serif;
  height: 100%;
}
.box {
    width: 200px; height: 100px;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, red 50%, black 50%);
    transition: background-position 1s;
}

.box:hover {
    background-position: 0 -100%;
}

.about-btn {
  /*height: 50px;*/
}


#animationContainer {
  text-align: center;
  height: 550px;
  margin: auto;
  width: 960px;
  height: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -480px;
  margin-top: -280px; 
  padding-top: 100px;

}

#animationContainer .container {
  position: absolute;
  padding-top: 100px;
  padding-bottom: 50px;
}


#mainContent {
  margin: auto;
  width: 960px;
  height: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -480px;
  margin-top: -320px; 
}

#vis {
  display: none;
  width: 960px;
  height: 550px;
}

footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
}


.test-box {
  outline: 2px solid blue;
}

.modal.kj-modal .modal-dialog {
  width: 80%;
  /*margin-top: 20px;*/
}

.kj-modal .modal-body {
  overflow-y: auto;
}

.kj-modal .modal-body .modal-iframe-container{
  /*width: 80%;*/
  margin: auto;
  /*outline: 2px solid red;*/
}
.kj-modal .modal-body p{
  color: #545454;
}

.kj-modal .modal-body h4 {
  /*color: #0000EE;*/
  color: #878787;
  margin-top: 40px;
  text-decoration: underline;
}

.kj-modal .modal-body h5 {
  /*color: #878787;*/
  font-weight: 600;
  margin-top: 30px;
}

.kj-modal .modal-body ul {
  color: #6d6d6d;
}
.kj-modal .modal-body .kj-section {
  margin: 25px auto;
}

.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid #545454;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}

.btn-social i{
  line-height: inherit;
}

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px;
}
.btn:focus,
.btn:active,
.btn.active {
  outline: none;
}
.btn-outline {
  color: #545454;
  font-size: 20px;
  border: solid 2px #545454;
  background: transparent;
  transition: all 0.3s ease-in-out;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: #acacac;
  background: white;
  border: solid 2px #acacac;
}

.special {
  margin-right: 10px;
  height: 50px;
}

.special i{
  line-height: inherit;
}

#animate-area {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
}

#animate-area:after { 
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.6;
  background-size: 80px 50px;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/28727/yukon-landscape-mask.png');
  background-position: 0px 0px;
  background-repeat: repeat-x;
  animation: animatedBackground 3s linear infinite;
}


#animate-area:hover,
#animate-area:focus,
#animate-area:active,
#animate-area.active {
  background-color: rgba(255, 255, 255, 0.5);
}

@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 235% 0; }
}

