@gray-lighter: lighten(#000, 93.5%);
@brand-primary: #4e463d; 
@brand-success: #928779;
@brand-iconback: #cdc7c3;
@colAboutback   : @brand-success;
@colFolioback   : #f5f3f3;
@frameStroke    : @brand-primary;
@iconStroke    	: @brand-primary;
@colIconDesc    : #887969;
@colmyIntro     : @brand-primary;
@bgDefault      : @brand-primary;
@bgHighlight    : darken(@brand-primary, 5%);
@colDefault     : white;
@colHighlight   : @brand-success;
@colAbout  		: white;


