
.cubeContainer {
  width: 400px;
  height: 400px;
  /*margin-left: -200px: */
  left: 30%;
  top: 300px;
  perspective: 100000px;
  /*-moz-perspective: 5000px;*/
}

#cube {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  animation: rotatecube 20s infinite alternate;
  -moz-transform-style: preserve-3d;
  -moz-animation: rotatecube 20s infinite alternate; 
  transform-origin: 0 0;
}

#cube img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#cube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#cube div {
  width: 400px;
  height: 400px;
  display: block;
  position: absolute;
  border: none;
  line-height: 400px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

@keyframes rotatecube {
  0% { transform: rotateX(0deg) rotateY(0deg); }
  100% { transform: rotateX(360deg) rotateY(360deg); }
}

/*#cube .front {
  background: rgba(255,0,0,.5);
}

#cube .back {
  background: rgba(0,255,0,.5);
}

#cube .right {
  background: rgba(0,0,255,.5);
}

#cube .left {
  background: rgba(0,255,255,.5);
}

#cube .top {
  background: rgba(255,0,255,.5);
}

#cube .bottom {
  background: rgba(255,255,0,.5);
}*/

#cube .front  {
  transform: rotateY(0deg ) translate3d(0, 0, 200px);
}
#cube .back {
  transform: rotateX(180deg ) translateZ( 200px );
}
#cube .right  {
  transform: rotateY(90deg ) translateZ( 200px );
}
#cube .left   {
  transform: rotateY(-90deg ) translateZ( 200px );
}
#cube .top    {
  transform: rotateX(90deg ) translateZ( 200px );
}
#cube .bottom {
  transform: rotateX(-90deg ) translateZ( 200px );
}