$boxsize: 250px;
$boxsizeH: 210px;


$rotateDegree0: 270deg;

$animateInterval1: 45/100;


$duration1: 1.1s;

$rationDown: 1.45s;

$timingFunction: ease-in-out;

$delay: 0.2;
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  /* padding: 100px; */
  font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
  /* background: #2985c7; */
  /* overflow: hidden; */

}

.container {
  background: grey;

  position: absolute;

}

.wrap {
  /*overflow: hidden;*/
  width: $boxsize*5;
  height:$boxsizeH*3;
  /*perspective: 400em;*/
}

.box, .box div {
  width: $boxsize;
  height: $boxsizeH;
  float: left;
}

.box-rotate {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style:    preserve-3d;
  -ms-transform-style:     preserve-3d;
  transform-style:         preserve-3d;

/*  -webkit-transform: translate3d(0, 0, -$boxsize/2);
  -moz-transform:    translate3d(0, 0, -$boxsize/2);
  -ms-transform:     translate3d(0, 0, -$boxsize/2);
  transform:         translate3d(0, 0, -$boxsize/2);*/
}

.box-rotate div {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: #fff;
  /* padding: 200px; */
}

.box-rotate img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box-rotate .front {
  background: black;
  z-index: 2;
  -webkit-transform: rotate3d(0, 1, 0, 0deg) translate3d(0, 0, $boxsize/2);
  -moz-transform:    rotate3d(0, 1, 0, 0deg) translate3d(0, 0, $boxsize/2);
  -ms-transform:     rotate3d(0, 1, 0, 0deg) translate3d(0, 0, $boxsize/2);
  transform:         rotate3d(0, 1, 0, 0deg) translate3d(0, 0, $boxsize/2);
}

.box-rotate .back {
  background: black;
  -webkit-transform: rotate3d(0, 1, 0, 180deg)  translate3d(0, 0, $boxsize/2);
  -moz-transform:    rotate3d(0, 1, 0, 180deg)  translate3d(0, 0, $boxsize/2);
  -ms-transform:     rotate3d(0, 1, 0, 180deg)  translate3d(0, 0, $boxsize/2);
  transform:         rotate3d(0, 1, 0, 180deg)  translate3d(0, 0, $boxsize/2);
}

.box-rotate .left {
  background: black;
  -webkit-transform: rotate3d(0, 1, 0, -90deg) translate3d(0, 0, $boxsize/2);
  -moz-transform:    rotate3d(0, 1, 0, -90deg) translate3d(0, 0, $boxsize/2);
  -ms-transform:     rotate3d(0, 1, 0, -90deg) translate3d(0, 0, $boxsize/2);
  transform:         rotate3d(0, 1, 0, -90deg) translate3d(0, 0, $boxsize/2);
}
.box-rotate .right {
  background: black;
  -webkit-transform: rotate3d(0, 1, 0, 90deg) translate3d(0, 0, $boxsize/2);
  -moz-transform:    rotate3d(0, 1, 0, 90deg) translate3d(0, 0, $boxsize/2);
  -ms-transform:     rotate3d(0, 1, 0, 90deg) translate3d(0, 0, $boxsize/2);
  transform:         rotate3d(0, 1, 0, 90deg) translate3d(0, 0, $boxsize/2);
}

//animation 
//wrap animation
/* Chrome, Safari, Opera */ 
@-webkit-keyframes mymove1 {
  100% {
    -webkit-transform: rotate3d(0, 1, 0, $rotateDegree0);
    -moz-transform:rotate3d(0, 1, 0, $rotateDegree0);
    -ms-transform:rotate3d(0, 1, 0, $rotateDegree0);   
    transform:rotate3d(0, 1, 0, $rotateDegree0);
   }
}

/* Standard syntax */
@keyframes mymove1 {
  100% {-webkit-transform: rotate3d(0, 1, 0, $rotateDegree0);
  -moz-transform:rotate3d(0, 1, 0, $rotateDegree0);
  -ms-transform:rotate3d(0, 1, 0, $rotateDegree0);   
  transform:rotate3d(0, 1, 0, $rotateDegree0);
   }
}


@for $i from 1 through 15 {
  .container.animate .box-rotate-right:nth-child(#{$i}) {
    -webkit-animation: mymove1 $duration1 forwards; /* Chrome, Safari, Opera */ 
    animation: mymove1 $duration1 forwards;
    -webkit-animation-delay: $delay + $i * 0.1s; /* Chrome, Safari, Opera */
    animation-delay:$delay + $i * 0.1s;
    -webkit-animation-timing-function: $timingFunction;
    animation-timing-function: $timingFunction;  
  }
}





.shadow {
  opacity: 0.6;
}

